*{
    background: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.6;

}
header{
    text-align: center;
}

header img{
    width: 250px;
    height: auto;
    border-radius: 15px
}
a{
    display: flex;
     color: cadetblue;
    text-decoration: none;
    font-weight: bold;
    text-align: justify;
    padding: 5px;
}
.logo{
    text-align: center;
}
.logo img{
width: 150px;
height: auto;
border-radius: 20px;
}
.banner{
    display: flex;
}

.banner div{
    width: 50%;
}
.banner img{
    width: 98%;
    border-radius: 15px;
    height: auto;
}
.body{
    text-align: center;
padding: 5px;
}
.body h1,h2,h3{
    color: cadetblue;
}
footer,footer p, footer h4{
background-color: cadetblue;
color: white;
text-align: center;
padding: 10px;
}
@media (max-width:500px){
    .banner{
        width: 48%;
        margin-bottom: 20px;
    }
    .body{
        width: 70%;
    }

}
