*{
    background: white;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 0%;
    line-height: 1.5;

}
.logo{
    text-align: center;
}
.logo img{
width: 150px;
height: auto;
border-radius: 20px;
}
.logo a{
    display: flex;
color: cadetblue;
text-decoration: none;
font-weight: bold;
}
.banner img{
    width: 100%;
    height: 500px;
    border-radius: 15px;
}
.back ,.back p,.back h3,.back h1{
    background:cadetblue;
    text-align: center;
}
.dine{
    display: flex;
}
.dine div{
    width: 50%;
}
.dine img{
    width: 100%;
    border-radius: 15px;
    height: 300px;
}
.dine h2{
    text-align:center;
    color: cadetblue;
}
.we{
    display: flex;
}
.we div{
    width: 50%;
}
.we img{
    width: 100%;
    border-radius: 15px;
    height: 300px;

}
.we h2{
    text-align: center;
    color:cadetblue;
}
.h h2{
    text-align: center;
    color:cadetblue;
}

.menu{
     display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-top: 20px;
}
.menu div{
    width: 32.5%;
}
.menu img{
    width: 100%;
    border-radius: 15px;
}
.menu h3,p{
    text-align: center;
}
.menu h3{
    color: cadetblue;
}
footer,  footer p, footer h4 {
    text-align: center;
    color: white;
    background-color:cadetblue;
    padding: 10px;
}
 @media (max-width:500px){
    .dine{
        width: 48%;
        margin-bottom: 20px;
    }
    .we{
        width: 70%;
    }

}